openapi: 3.0.0
info:
  title: DuniaPay  API
  description: The **Duniapay** API Collection is a collection of all endpoints that merchants and developers can take advantage of to build financial solutions in Nigeria
  contact: {}
  version: '1.0'
servers:
- url: https://api.duniapay.net
  variables: {}
paths:
  /transaction/initialize:
    post:
      tags:
      - Transactions
      summary: Initialize Transaction
      description: >-
        **Body Params**

        - **email** (_required_) - Customer's email address

        - **amount** (_required_) - Amount in kobo

        - **reference** - Generate a reference or leave this param blank for DuniaPay to generate one for you

        - **callback_url** - Overrides the callback URL set on DuniaPay dashboard.

        - **plan** - If transaction is to create a subscription to a predefined plan, provide plan code here. This would invalidate the value provided in `amount`

        - **invoice_limit** - Number of times to charge customer during subscription to plan

        - **metadata** - Stringified JSON object. Add a `custom_fields` attribute which has an array of objects if you would like the fields to be added to your transaction when displayed on the dashboard.

        - **subaccount** - The code for the subaccount that owns the payment.

        - **transaction_charge** - A flat fee to charge the subaccount for this transaction, in kobo. This overrides the split percentage set when the subaccount was created. Ideally, you will need to use this if you are splitting in flat rates (since subaccount creation only allows for percentage split).

        - **bearer** - Who bears DuniaPay charges? `account` or `subaccount` (defaults to `account`).

        - **channels** - Send us 'card' or 'bank' or 'card','bank', 'mobilemoney', 'duniapay' as an array to specify what options to show the user paying
      operationId: InitializeTransaction
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitializeTransactionRequest'
            example:
              email: customer@email.com
              amount: 5000
              reference: PSTK_TEST
              currency: XOF
              callback_url: http://url.com
              metadata:
                cancel_action: http://cancelurl.com
        required: true
      responses:
        200:
          description: ''
          headers:
            CF-RAY:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 3e5d58b8b8486b9d-LHR
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 172
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Wed, 31 Jan 2018 14:26:32 GMT
            ETag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: W/"d7-NRaST0Xb8B+N5gPWdfUh3Q"
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: cloudflare
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15552000; includeSubDomains; preload
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: X-HTTP-Method-Override
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Powered-By:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Sails <sailsjs.org>
            set-cookie:
              content:
                text/plain:
                  schema:
                    type: string
                  example: sails.sid=s%3AFK0wuePK3VARObcUOKaJPenguhQFJJgH.aNleUsupaRA7X2SCoJSQIza%2BnXRBoon7J8BC8z%2BArIU; Path=/; HttpOnly; Secure
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InitializeTransaction'
              example:
                status: true
                message: Authorization URL created
                data:
                  authorization_url: https://duniapay.net/secure/5q70ef6pu1dq4qn
                  access_code: 5q70ef6pu1dq4qn
                  reference: XXXREF
      deprecated: false
  /transaction/verify/{REFERENCE}:
    get:
      tags:
      - Transactions
      summary: Verify Transaction
      description: >-
        **Path Params**

        - **reference** (_required_)
      operationId: VerifyTransaction
      parameters:
      - name: REFERENCE
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /transaction:
    get:
      tags:
      - Transactions
      summary: List Transactions
      description: >-
        **Query Params**

        - **perPage** - Specify how many records you want to retrieve per page

        - **page** - Specify exactly what page you want to retrieve

        - **customer** - Specify an ID for the customer whose transactions you want to retrieve

        - **status** - Filter transactions by status ('failed', 'success', 'abandoned')

        - **from** - A timestamp from which to start listing transaction e.g. 2016-09-24T00:00:05.000Z, 2016-09-21

        - **to** - A timestamp at which to stop listing transaction e.g. 2016-09-24T00:00:05.000Z, 2016-09-21

        - **amount** - Filter transactions by amount. Specify the amount in kobo.
      operationId: ListTransactions
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /transaction/id:
    get:
      tags:
      - Transactions
      summary: Fetch Transaction
      description: >-
        **Path Params**

        - **id** (_required_) - An ID for the transaction to fetch
      operationId: FetchTransaction
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /transaction/charge_authorization:
    post:
      tags:
      - Transactions
      summary: Charge Authorization
      description: >-
        **Body Params**

        - **reference** - Unique transaction reference. Only `-` `,` `.` `,` `=` and alphanumeric characters allowed. System will generate one if none is provided

        - **authorization_code** - (_required_) Valid authorization code to charge

        - **amount** - (_required_) Amount in kobo

        - **plan** - If transaction is to create a subscription to a predefined plan, provide plan code here

        - **currency** - Currency in which amount should be charged

        - ** email** (_required_) - Customer's email address

        - **metadata** - Add a `custom_fields` attribute which has an array of objects if you would like the fields to be added to your transaction when displayed on the dashboard.

        - **subaccount** - The code for the subaccount that owns the payment.

        - **transaction_charge** - A flat fee to charge the subaccount for this transaction, in kobo. This overrides the split percentage set when the subaccount was created. Ideally, you will need to use this if you are splitting in flat rates (since subaccount creation only allows for percentage split).

        - **bearer** - Who bears DuniaPay charges? `account` or `subaccount`?

        - **invoice_limit** - Number of invoices to raise during the subscription. Overrides `invoice_limit` set on plan.
      operationId: ChargeAuthorization
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - authorization_code
              - email
              - amount
              type: object
              properties:
                authorization_code:
                  type: string
                  example: AUTH_CODE
                email:
                  type: string
                  example: customer@email.com
                amount:
                  type: integer
                  format: int32
                  example: 500000
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /transaction/check_authorization:
    post:
      tags:
      - Transactions
      summary: Check Authorization
      description: >-
        All mastercard and visa authorizations can be checked with this endpoint to know if they have funds for the payment you seek.


        **Body Params**

        - **authorization_code** (_required_) - Authorization code for mastercard or VISA authorization belonging to email.

        - **amount** (_required_) - Amount in kobo

        - **email** (_required_) - Customer's email address

        - **currency** - A currency for the amount we want to check


        In test mode, we will return insufficient funds for an amount greater than or equal 500,000 xof.
      operationId: CheckAuthorization
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - authorization_code
              - email
              - amount
              type: object
              properties:
                authorization_code:
                  type: string
                  example: AUTH_CODE
                email:
                  type: string
                  example: customer@email.com
                amount:
                  type: integer
                  format: int32
                  example: 500000
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /customer/deactivate_authorization:
    post:
      tags:
      - Transactions
      summary: Deactivate Authorization
      description: >+
        For when the card needs to be forgotten...


        **Body Params**

        - **authorization_code** (_required_) - Authorization code to be deactivated

      operationId: DeactivateAuthorization
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - authorization_code
              type: object
              properties:
                authorization_code:
                  type: string
                  example: AUTH_CODE
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /transaction/timeline/{id_or_reference}:
    get:
      tags:
      - Transactions
      summary: View Transaction Timeline
      operationId: ViewTransactionTimeline
      parameters:
      - name: id_or_reference
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /transaction/totals:
    get:
      tags:
      - Transactions
      summary: Transaction Totals
      description: >-
        Total amount received on your account


        **Query Params**

        - **from** - Lower bound of date range. Leave undefined to show totals from day one.

        - **to** - Upper bound of date range. Leave undefined to show totals till date.
      operationId: TransactionTotals
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /transaction/export:
    get:
      tags:
      - Transactions
      summary: Export Transactions
      description: >-
        **Query Params**

        - **from** - Lower bound of date range. Leave undefined to export transactions from day one.

        - **to** - Upper bound of date range. Leave undefined to export transactions till date.

        - **settled** - Set to `true` to export only settled transactions. `false` for pending transactions. Leave undefined to export all transactions

        - **payment_page** - Specify a payment page's id to export only transactions conducted on said page

        - **customer** - Specify customer id.

        - **currency** - Currency in which you are charging the customer in.

        - **settlement** - An ID for the settlement whose transactions we should export

        - **amount** - Amount for transactions to export

        - **status** - Status for transactions to export
      operationId: ExportTransactions
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /customer:
    post:
      tags:
      - Customers
      summary: Create Customer
      description: >-
        **Body Params**

        - **email** (_required_) - Customer's email address

        - **first_name** - Customer's first name

        - **last_name** - Customer's last name

        - **phone** - Customer's phone number

        - **metadata** - A set of key/value pairs that you can attach to the customer. It can be used to store additional information in a structured format.
      operationId: CreateCustomer
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - email
              type: object
              properties:
                email:
                  type: string
                  example: customer@email.com
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Customers
      summary: List Customers
      description: >-
        **Query Params**

        - **perPage** - Specify how many records you want to retrieve per page

        - **page** - Specify exactly what page you want to retrieve
      operationId: ListCustomers
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /customer/{id_or_customer_code}:
    get:
      tags:
      - Customers
      summary: Fetch Customer
      description: >-
        **Query Params**

        - **exclude_transactions** - By default, fetching a customer returns all their transactions. Set this to true to disable this behaviour.
      operationId: FetchCustomer
      parameters:
      - name: id_or_customer_code
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /customer/{ID_OR_CUSTOMER_CODE}:
    put:
      tags:
      - Customers
      summary: Update Customer
      description: >-
        **Body Params**

        - **first_name** - Customer's first name

        - **last_name** - Customer's last name

        - **phone** - Customer's phone number

        - **metadata** - A set of key/value pairs that you can attach to the customer. It can be used to store additional information in a structured format.
      operationId: UpdateCustomer
      parameters:
      - name: ID_OR_CUSTOMER_CODE
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - email
              type: object
              properties:
                email:
                  type: string
                  example: customer@email.com
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /customer/set_risk_action:
    post:
      tags:
      - Customers
      summary: White/blacklist Customer
      description: >-
        **Body Params**

        - **customer** - Customer's ID, code, or email address

        - **risk_action** - One of the possible risk actions. `allow` to whitelist. `deny` to blacklist.
      operationId: White/blacklistCustomer
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - customer
              - risk_action
              type: object
              properties:
                customer:
                  type: string
                  example: CUS_xr58yrr2ujlft9k
                risk_action:
                  type: string
                  example: allow
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /subaccount:
    post:
      tags:
      - Subaccounts
      summary: Create Subaccount
      description: >-
        **Body Params**

        - **business_name** (_required_) - Name of business for subaccount

        - **settlement_bank** (_required_) - Name of Bank (see list of accepted names by calling [List Banks](https://developers.duniapay.net/v1.0/docs/list-banks)

        - **account_number** (_required_) - NUBAN Bank Account Number

        - **percentage_charge** (_required_) - What is the default percentage charged when receiving on behalf of this subaccount?

        - **primary_contact_email** - A contact email for the subaccount

        - **primary_contact_name** - A name for the contact person for this subaccount

        - **primary_contact_phone** - A phone number to call for this subaccount

        - **metadata** - Stringified JSON object

        - **settlement_schedule** - Any of `auto`, `weekly`, `monthly`, `manual`. Auto means payout is T+1 and manual means payout to the subaccount should only be made when requested.


        Receive payments for the created subaccount by providing their code when doing a transaction. More details here: [Split Payments Overview](https://developers.duniapay.net/v1.0/docs/split-payments-overview)
      operationId: CreateSubaccount
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - business_name
              - settlement_bank
              - account_number
              - percentage_charge
              type: object
              properties:
                business_name:
                  type: string
                  example: Sunshine Studios
                settlement_bank:
                  type: integer
                  format: int32
                  example: 36
                account_number:
                  type: string
                  example: 0193274682
                percentage_charge:
                  type: number
                  format: double
                  example: 18.199999999999999
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Subaccounts
      summary: List Subaccounts
      description: >-
        **Query Params**

        - **perPage** - Specify how many records you want to retrieve per page

        - **page** - Specify exactly what page you want to retrieve
      operationId: ListSubaccounts
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /subaccount/{id_or_slug}:
    get:
      tags:
      - Subaccounts
      summary: Fetch Subaccount
      operationId: FetchSubaccount
      parameters:
      - name: id_or_slug
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
    put:
      tags:
      - Subaccounts
      summary: Update Subaccount
      operationId: UpdateSubaccount
      parameters:
      - name: id_or_slug
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - primary_contact_email
              - percentage_charge
              type: object
              properties:
                primary_contact_email:
                  type: string
                  example: customer@newemail.com
                percentage_charge:
                  type: number
                  format: double
                  example: 18.899999999999999
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /plan:
    post:
      tags:
      - Plans
      summary: Create Plan
      description: >-
        **Body Params**

        - **name** (_required_) - Name of plan

        - **description** - Short description of plan

        - **amount** (_required_) - Amount to be charged in kobo

        - **interval** (_required_) - Interval in words. Valid intervals are `hourly`, `daily`, `weekly`, `monthly`, `annually`.

        - **send_invoices** - Set to false if you don't want invoices to be sent to your customers

        - **currency** - Currency in which amount is set

        - **invoice_limit** - Number of invoices to raise during subscription to this plan. Can be overridden by specifying an `invoice_limit` while subscribing.
      operationId: CreatePlan
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - name
              - interval
              - amount
              type: object
              properties:
                name:
                  type: string
                  example: Monthly retainer
                interval:
                  type: string
                  example: monthly
                amount:
                  type: integer
                  format: int32
                  example: 500000
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Plans
      summary: List Plans
      description: >-
        **Query Params**

        - **perPage** - Specify how many records you want to retrieve per page

        - **page** - Specify exactly what page you want to retrieve

        - **interval** - Filter list by plans with specified interval

        - **amount** - Filter list by plans with specified amount (in kobo)
      operationId: ListPlans
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /plan/id_or_plan_code:
    get:
      tags:
      - Plans
      summary: Fetch Plan
      operationId: FetchPlan
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /plan/{id_or_plan_code}:
    put:
      tags:
      - Plans
      summary: Update Plan
      description: >-
        **Body Params**

        - **name** - Name of plan

        - **description** - Short description of plan

        - **amount** - Amount to be charged in kobo. Will override the amount for existing subscriptions.

        - **interval** - Interval in words. Valid intervals are `hourly`, `daily`, `weekly`, `monthly`, `annually`.

        - **send_invoices** - Set to false if you don't want invoices to be sent to your customers.

        - **send_sms** - Set to false if you don't want text messages to be sent to your customers

        - **currency** - Currency in which amount is set

        - **invoice_limit** - Number of invoices to raise during subscription to this plan. Will not override `invoice_limit` set on active subscriptions.
      operationId: UpdatePlan
      parameters:
      - name: id_or_plan_code
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  type: string
                  example: Monthly retainer (renamed)
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /subscription:
    post:
      tags:
      - Subscriptions
      summary: Create Subscription
      description: >-
        **Body Params**

        - **customer** (_required_) - Customer's email address or customer code

        - **plan** (_required_) - Plan code

        - **authorization** - If customer has multiple authorizations, you can set the desired authorization you wish to use for this subscription here. If this is not supplied, the customer's most recent authorization would be used

        - **start_date** - Set the date for the first debit. (ISO 8601 format)


        Note the `email_token` attribute for the subscription object. We create one on each subscription so customers can cancel their subscriptions from within the invoices sent to their mailboxes. Since they are not authorized, the email tokens are what we use to authenticate the requests over the API.
      operationId: CreateSubscription
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - customer
              - plan
              type: object
              properties:
                customer:
                  type: string
                  example: CUS_xnxdt6s1zg1f4nx
                plan:
                  type: string
                  example: PLN_gx2wn530m0i3w3m
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Subscriptions
      summary: List Subscriptions
      description: >-
        **Query Params**

        - **perPage** - Specify how many records you want to retrieve per page

        - **page** - Specify exactly what page you want to retrieve

        - **customer** - Filter by Customer ID

        - **plan** - Filter by Plan ID
      operationId: ListSubscriptions
      parameters: []
      responses:
        200:
          description: ''
          headers:
            CF-RAY:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 3e2308930b1969d1-LHR
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 4020
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Wed, 24 Jan 2018 12:35:35 GMT
            ETag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: W/"b996-CMrwL9gnwnEjtZ0VB4frGA"
            Expect-CT:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: cloudflare
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15552000; includeSubDomains; preload
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            X-Powered-By:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Sails <sailsjs.org>
            set-cookie:
              content:
                text/plain:
                  schema:
                    type: string
                  example: sails.sid=s%3AuJweoSRrLJYZ8feLjMaNcp0E2cRwd-WL.N1g6WqxlradKwfxdBBpezEDpDmls40XZkqx61d5uwvE; Path=/; HttpOnly; Secure
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ListSubscriptions'
              example:
                status: true
                message: Subscriptions retrieved
                data:
                - customer:
                    first_name: employee14
                    last_name: demo
                    email: employee14@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_7o5rpgyihn2ccui
                    risk_action: default
                    id: 1395761
                    integration: 132621
                    createdAt: 2018-01-14T13:45:04Z
                    updatedAt: 2018-01-14T13:45:04Z
                  plan:
                    domain: test
                    name: Mpc product G186WMRJ
                    plan_code: PLN_qajv0uplnjz2y05
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8235
                    integration: 132621
                    createdAt: 2018-01-22T13:44:21Z
                    updatedAt: 2018-01-22T13:44:21Z
                  integration: 132621
                  authorization: 3658609
                  domain: test
                  start: 1516628816
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_2gc07u0dqk1yb1f
                  email_token: b2jd0eo7yacv98p
                  easy_cron_id: 493980
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:46:50Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36190
                  createdAt: 2018-01-22T13:46:56Z
                  updatedAt: 2018-01-22T13:46:58Z
                - customer:
                    first_name: employee13
                    last_name: demo
                    email: employee13@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_4krtj6y63m5fobz
                    risk_action: default
                    id: 1395760
                    integration: 132621
                    createdAt: 2018-01-14T13:45:02Z
                    updatedAt: 2018-01-14T13:45:02Z
                  plan:
                    domain: test
                    name: Mpc product G186WMRJ
                    plan_code: PLN_qajv0uplnjz2y05
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8235
                    integration: 132621
                    createdAt: 2018-01-22T13:44:21Z
                    updatedAt: 2018-01-22T13:44:21Z
                  integration: 132621
                  authorization: 3625849
                  domain: test
                  start: 1516628814
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_75o3he3uuzd78wp
                  email_token: 3wvpgdqtwxpixq2
                  easy_cron_id: 493979
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:46:50Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36189
                  createdAt: 2018-01-22T13:46:54Z
                  updatedAt: 2018-01-22T13:46:55Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Mpc product G186WMRJ
                    plan_code: PLN_qajv0uplnjz2y05
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8235
                    integration: 132621
                    createdAt: 2018-01-22T13:44:21Z
                    updatedAt: 2018-01-22T13:44:21Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516628812
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_mb83ddoe9o1qfsq
                  email_token: t93p7dxbgicmyrb
                  easy_cron_id: 493978
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:46:50Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36188
                  createdAt: 2018-01-22T13:46:52Z
                  updatedAt: 2018-01-22T13:46:53Z
                - customer:
                    first_name: employee13
                    last_name: demo
                    email: employee13@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_4krtj6y63m5fobz
                    risk_action: default
                    id: 1395760
                    integration: 132621
                    createdAt: 2018-01-14T13:45:02Z
                    updatedAt: 2018-01-14T13:45:02Z
                  plan:
                    domain: test
                    name: Mpc product YBZ84RVZCOZ3
                    plan_code: PLN_pl42mdegb1pay14
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8232
                    integration: 132621
                    createdAt: 2018-01-22T13:28:01Z
                    updatedAt: 2018-01-22T13:28:01Z
                  integration: 132621
                  authorization: 3625849
                  domain: test
                  start: 1516627795
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_bn9ab5zt3jxjwn3
                  email_token: vrc1x9i9dxha8s9
                  easy_cron_id: 493969
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:29:50Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36183
                  createdAt: 2018-01-22T13:29:55Z
                  updatedAt: 2018-01-22T13:29:55Z
                - customer:
                    first_name: employee12
                    last_name: emo
                    email: employee12@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_5z5i6sw36jx2wlu
                    risk_action: default
                    id: 1395757
                    integration: 132621
                    createdAt: 2018-01-14T13:44:56Z
                    updatedAt: 2018-01-14T13:44:56Z
                  plan:
                    domain: test
                    name: Mpc product YBZ84RVZCOZ3
                    plan_code: PLN_pl42mdegb1pay14
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8232
                    integration: 132621
                    createdAt: 2018-01-22T13:28:01Z
                    updatedAt: 2018-01-22T13:28:01Z
                  integration: 132621
                  authorization: 3625717
                  domain: test
                  start: 1516627793
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_jry95yp22952v32
                  email_token: vcqc4wgdcefxcye
                  easy_cron_id: 493968
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:29:50Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36182
                  createdAt: 2018-01-22T13:29:53Z
                  updatedAt: 2018-01-22T13:29:53Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Mpc product YBZ84RVZCOZ3
                    plan_code: PLN_pl42mdegb1pay14
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8232
                    integration: 132621
                    createdAt: 2018-01-22T13:28:01Z
                    updatedAt: 2018-01-22T13:28:01Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516627792
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_pz6388b8g98bhr4
                  email_token: 1q8bnm7nfulshpv
                  easy_cron_id: 493967
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:29:50Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36181
                  createdAt: 2018-01-22T13:29:52Z
                  updatedAt: 2018-01-22T13:29:52Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Mpc product MY8M12AD6AMV
                    plan_code: PLN_0n5mh1zojhq0yw2
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8231
                    integration: 132621
                    createdAt: 2018-01-22T13:14:59Z
                    updatedAt: 2018-01-22T13:14:59Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516627084
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_6a1ueijc69dn8ia
                  email_token: s1fjsq8aia1r4mp
                  easy_cron_id: 493966
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:17:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36180
                  createdAt: 2018-01-22T13:18:04Z
                  updatedAt: 2018-01-22T13:18:09Z
                - customer:
                    first_name: employee14
                    last_name: demo
                    email: employee14@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_7o5rpgyihn2ccui
                    risk_action: default
                    id: 1395761
                    integration: 132621
                    createdAt: 2018-01-14T13:45:04Z
                    updatedAt: 2018-01-14T13:45:04Z
                  plan:
                    domain: test
                    name: Mpc product MY8M12AD6AMV
                    plan_code: PLN_0n5mh1zojhq0yw2
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8231
                    integration: 132621
                    createdAt: 2018-01-22T13:14:59Z
                    updatedAt: 2018-01-22T13:14:59Z
                  integration: 132621
                  authorization: 3658609
                  domain: test
                  start: 1516627082
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_0530l7rkso3hlk6
                  email_token: 30ed3a6ekqowv6e
                  easy_cron_id: 493965
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:17:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36179
                  createdAt: 2018-01-22T13:18:02Z
                  updatedAt: 2018-01-22T13:18:02Z
                - customer:
                    first_name: employee13
                    last_name: demo
                    email: employee13@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_4krtj6y63m5fobz
                    risk_action: default
                    id: 1395760
                    integration: 132621
                    createdAt: 2018-01-14T13:45:02Z
                    updatedAt: 2018-01-14T13:45:02Z
                  plan:
                    domain: test
                    name: Mpc product MY8M12AD6AMV
                    plan_code: PLN_0n5mh1zojhq0yw2
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8231
                    integration: 132621
                    createdAt: 2018-01-22T13:14:59Z
                    updatedAt: 2018-01-22T13:14:59Z
                  integration: 132621
                  authorization: 3625849
                  domain: test
                  start: 1516627080
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_sxach1ectrbsdfh
                  email_token: n0q52muafk5g2lz
                  easy_cron_id: 493964
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:17:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36178
                  createdAt: 2018-01-22T13:18:00Z
                  updatedAt: 2018-01-22T13:18:01Z
                - customer:
                    first_name: employee12
                    last_name: emo
                    email: employee12@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_5z5i6sw36jx2wlu
                    risk_action: default
                    id: 1395757
                    integration: 132621
                    createdAt: 2018-01-14T13:44:56Z
                    updatedAt: 2018-01-14T13:44:56Z
                  plan:
                    domain: test
                    name: Mpc product ZAQYYS0CU9J2
                    plan_code: PLN_hnhpbv7t6ifny7s
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8230
                    integration: 132621
                    createdAt: 2018-01-22T13:04:17Z
                    updatedAt: 2018-01-22T13:04:17Z
                  integration: 132621
                  authorization: 3625717
                  domain: test
                  start: 1516626884
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_x7mnc2hfxgn9mvy
                  email_token: vmlymyc283ubnr2
                  easy_cron_id: 493963
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:14:39Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36177
                  createdAt: 2018-01-22T13:14:44Z
                  updatedAt: 2018-01-22T13:14:45Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Mpc product ZAQYYS0CU9J2
                    plan_code: PLN_hnhpbv7t6ifny7s
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8230
                    integration: 132621
                    createdAt: 2018-01-22T13:04:17Z
                    updatedAt: 2018-01-22T13:04:17Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516626883
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_ftf7tfkcah7oyda
                  email_token: vdtc2b8hyahc226
                  easy_cron_id: 493962
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:14:39Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36176
                  createdAt: 2018-01-22T13:14:43Z
                  updatedAt: 2018-01-22T13:14:44Z
                - customer:
                    first_name: employee14
                    last_name: demo
                    email: employee14@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_7o5rpgyihn2ccui
                    risk_action: default
                    id: 1395761
                    integration: 132621
                    createdAt: 2018-01-14T13:45:04Z
                    updatedAt: 2018-01-14T13:45:04Z
                  plan:
                    domain: test
                    name: Mpc product ZAQYYS0CU9J2
                    plan_code: PLN_hnhpbv7t6ifny7s
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8230
                    integration: 132621
                    createdAt: 2018-01-22T13:04:17Z
                    updatedAt: 2018-01-22T13:04:17Z
                  integration: 132621
                  authorization: 3658609
                  domain: test
                  start: 1516626881
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_h1cs0ntq45hf4cp
                  email_token: ps5t7usida5kygw
                  easy_cron_id: 493961
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:14:39Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36175
                  createdAt: 2018-01-22T13:14:41Z
                  updatedAt: 2018-01-22T13:14:42Z
                - customer:
                    first_name: employee13
                    last_name: demo
                    email: employee13@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_4krtj6y63m5fobz
                    risk_action: default
                    id: 1395760
                    integration: 132621
                    createdAt: 2018-01-14T13:45:02Z
                    updatedAt: 2018-01-14T13:45:02Z
                  plan:
                    domain: test
                    name: Mpc product DLPX8GQMHZXV
                    plan_code: PLN_ucpz4nthvhaon0z
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8229
                    integration: 132621
                    createdAt: 2018-01-22T13:02:31Z
                    updatedAt: 2018-01-22T13:02:31Z
                  integration: 132621
                  authorization: 3625849
                  domain: test
                  start: 1516626186
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_53m01v14zhjivhu
                  email_token: zz2rtsancgqup7r
                  easy_cron_id: 493959
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:02:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36173
                  createdAt: 2018-01-22T13:03:06Z
                  updatedAt: 2018-01-22T13:03:06Z
                - customer:
                    first_name: employee12
                    last_name: emo
                    email: employee12@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_5z5i6sw36jx2wlu
                    risk_action: default
                    id: 1395757
                    integration: 132621
                    createdAt: 2018-01-14T13:44:56Z
                    updatedAt: 2018-01-14T13:44:56Z
                  plan:
                    domain: test
                    name: Mpc product DLPX8GQMHZXV
                    plan_code: PLN_ucpz4nthvhaon0z
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8229
                    integration: 132621
                    createdAt: 2018-01-22T13:02:31Z
                    updatedAt: 2018-01-22T13:02:31Z
                  integration: 132621
                  authorization: 3625717
                  domain: test
                  start: 1516626183
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_5fs6ihqndix93m4
                  email_token: u3m15963gd0olha
                  easy_cron_id: 493958
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:02:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36172
                  createdAt: 2018-01-22T13:03:03Z
                  updatedAt: 2018-01-22T13:03:05Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Mpc product DLPX8GQMHZXV
                    plan_code: PLN_ucpz4nthvhaon0z
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8229
                    integration: 132621
                    createdAt: 2018-01-22T13:02:31Z
                    updatedAt: 2018-01-22T13:02:31Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516626180
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_ejrv62w0xi84tcf
                  email_token: 31amwtboj1i35z9
                  easy_cron_id: 493957
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T13:02:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36171
                  createdAt: 2018-01-22T13:03:00Z
                  updatedAt: 2018-01-22T13:03:01Z
                - customer:
                    first_name: employee13
                    last_name: demo
                    email: employee13@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_4krtj6y63m5fobz
                    risk_action: default
                    id: 1395760
                    integration: 132621
                    createdAt: 2018-01-14T13:45:02Z
                    updatedAt: 2018-01-14T13:45:02Z
                  plan:
                    domain: test
                    name: Mpc product KKHB47IW65UL
                    plan_code: PLN_mmt6z98r0vglxq8
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8226
                    integration: 132621
                    createdAt: 2018-01-22T12:28:02Z
                    updatedAt: 2018-01-22T12:28:02Z
                  integration: 132621
                  authorization: 3625849
                  domain: test
                  start: 1516624143
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_lhi6bopt5xde19l
                  email_token: 2qlin7ligxdndna
                  easy_cron_id: 493949
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T12:28:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36166
                  createdAt: 2018-01-22T12:29:03Z
                  updatedAt: 2018-01-22T12:29:04Z
                - customer:
                    first_name: employee12
                    last_name: emo
                    email: employee12@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_5z5i6sw36jx2wlu
                    risk_action: default
                    id: 1395757
                    integration: 132621
                    createdAt: 2018-01-14T13:44:56Z
                    updatedAt: 2018-01-14T13:44:56Z
                  plan:
                    domain: test
                    name: Mpc product KKHB47IW65UL
                    plan_code: PLN_mmt6z98r0vglxq8
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8226
                    integration: 132621
                    createdAt: 2018-01-22T12:28:02Z
                    updatedAt: 2018-01-22T12:28:02Z
                  integration: 132621
                  authorization: 3625717
                  domain: test
                  start: 1516624141
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_vsu30z98riqxx2x
                  email_token: frtaegj04y756xm
                  easy_cron_id: 493948
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T12:28:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36165
                  createdAt: 2018-01-22T12:29:01Z
                  updatedAt: 2018-01-22T12:29:02Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Mpc product KKHB47IW65UL
                    plan_code: PLN_mmt6z98r0vglxq8
                    description: 
                    amount: 9000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8226
                    integration: 132621
                    createdAt: 2018-01-22T12:28:02Z
                    updatedAt: 2018-01-22T12:28:02Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516624140
                  status: active
                  quantity: 1
                  amount: 9000000
                  subscription_code: SUB_zp574lozv6llekc
                  email_token: fku9iyq6575t8vi
                  easy_cron_id: 493947
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T12:28:58Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36164
                  createdAt: 2018-01-22T12:29:00Z
                  updatedAt: 2018-01-22T12:29:00Z
                - customer:
                    first_name: employee14
                    last_name: demo
                    email: employee14@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_7o5rpgyihn2ccui
                    risk_action: default
                    id: 1395761
                    integration: 132621
                    createdAt: 2018-01-14T13:45:04Z
                    updatedAt: 2018-01-14T13:45:04Z
                  plan:
                    domain: test
                    name: Good product FAQ130X1GZKD
                    plan_code: PLN_v425e4j6eyt55me
                    description: 
                    amount: 5000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8225
                    integration: 132621
                    createdAt: 2018-01-22T10:36:37Z
                    updatedAt: 2018-01-22T10:36:37Z
                  integration: 132621
                  authorization: 3658609
                  domain: test
                  start: 1516618242
                  status: active
                  quantity: 1
                  amount: 5000000
                  subscription_code: SUB_y517eofx0k3wuev
                  email_token: tru7qxp8m3f3hp0
                  easy_cron_id: 493921
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T10:50:35Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36153
                  createdAt: 2018-01-22T10:50:42Z
                  updatedAt: 2018-01-22T10:50:43Z
                - customer:
                    first_name: employee13
                    last_name: demo
                    email: employee13@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_4krtj6y63m5fobz
                    risk_action: default
                    id: 1395760
                    integration: 132621
                    createdAt: 2018-01-14T13:45:02Z
                    updatedAt: 2018-01-14T13:45:02Z
                  plan:
                    domain: test
                    name: Good product FAQ130X1GZKD
                    plan_code: PLN_v425e4j6eyt55me
                    description: 
                    amount: 5000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8225
                    integration: 132621
                    createdAt: 2018-01-22T10:36:37Z
                    updatedAt: 2018-01-22T10:36:37Z
                  integration: 132621
                  authorization: 3625849
                  domain: test
                  start: 1516618240
                  status: active
                  quantity: 1
                  amount: 5000000
                  subscription_code: SUB_pmmw1bssp5wupjc
                  email_token: wnsl72jwcocmjgb
                  easy_cron_id: 493920
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T10:50:35Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36152
                  createdAt: 2018-01-22T10:50:40Z
                  updatedAt: 2018-01-22T10:50:41Z
                - customer:
                    first_name: employee12
                    last_name: emo
                    email: employee12@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_5z5i6sw36jx2wlu
                    risk_action: default
                    id: 1395757
                    integration: 132621
                    createdAt: 2018-01-14T13:44:56Z
                    updatedAt: 2018-01-14T13:44:56Z
                  plan:
                    domain: test
                    name: Good product FAQ130X1GZKD
                    plan_code: PLN_v425e4j6eyt55me
                    description: 
                    amount: 5000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8225
                    integration: 132621
                    createdAt: 2018-01-22T10:36:37Z
                    updatedAt: 2018-01-22T10:36:37Z
                  integration: 132621
                  authorization: 3625717
                  domain: test
                  start: 1516618239
                  status: active
                  quantity: 1
                  amount: 5000000
                  subscription_code: SUB_g5nnr91a93881ki
                  email_token: hmx3etjyf3l67ws
                  easy_cron_id: 493919
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T10:50:35Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36151
                  createdAt: 2018-01-22T10:50:39Z
                  updatedAt: 2018-01-22T10:50:40Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Good product FAQ130X1GZKD
                    plan_code: PLN_v425e4j6eyt55me
                    description: 
                    amount: 5000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8225
                    integration: 132621
                    createdAt: 2018-01-22T10:36:37Z
                    updatedAt: 2018-01-22T10:36:37Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516618238
                  status: active
                  quantity: 1
                  amount: 5000000
                  subscription_code: SUB_kcfhkosqhn13h8a
                  email_token: k6bvxdrlx4xqlg3
                  easy_cron_id: 493918
                  cron_expression: 0 0 21 * *
                  next_payment_date: 2018-02-21T10:50:35Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36150
                  createdAt: 2018-01-22T10:50:38Z
                  updatedAt: 2018-01-22T10:50:38Z
                - customer:
                    first_name: employee14
                    last_name: demo
                    email: employee14@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_7o5rpgyihn2ccui
                    risk_action: default
                    id: 1395761
                    integration: 132621
                    createdAt: 2018-01-14T13:45:04Z
                    updatedAt: 2018-01-14T13:45:04Z
                  plan:
                    domain: test
                    name: Good product R1RR2R3R4R5
                    plan_code: PLN_mm752s00e60hhk7
                    description: ''
                    amount: 5000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8173
                    integration: 132621
                    createdAt: 2018-01-18T12:10:28Z
                    updatedAt: 2018-01-18T12:10:28Z
                  integration: 132621
                  authorization: 3658609
                  domain: test
                  start: 1516429694
                  status: active
                  quantity: 1
                  amount: 5000000
                  subscription_code: SUB_4rayx6mta5yqmym
                  email_token: bdd6synhcdkjb0y
                  easy_cron_id: 493148
                  cron_expression: 0 0 19 * *
                  next_payment_date: 2018-02-19T06:28:08Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36002
                  createdAt: 2018-01-20T06:28:14Z
                  updatedAt: 2018-01-20T06:28:15Z
                - customer:
                    first_name: employee13
                    last_name: demo
                    email: employee13@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_4krtj6y63m5fobz
                    risk_action: default
                    id: 1395760
                    integration: 132621
                    createdAt: 2018-01-14T13:45:02Z
                    updatedAt: 2018-01-14T13:45:02Z
                  plan:
                    domain: test
                    name: Good product R1RR2R3R4R5
                    plan_code: PLN_mm752s00e60hhk7
                    description: ''
                    amount: 5000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8173
                    integration: 132621
                    createdAt: 2018-01-18T12:10:28Z
                    updatedAt: 2018-01-18T12:10:28Z
                  integration: 132621
                  authorization: 3625849
                  domain: test
                  start: 1516429693
                  status: active
                  quantity: 1
                  amount: 5000000
                  subscription_code: SUB_bkme8lju5xlvle4
                  email_token: pkxx935gcly9t2u
                  easy_cron_id: 493147
                  cron_expression: 0 0 19 * *
                  next_payment_date: 2018-02-19T06:28:08Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36001
                  createdAt: 2018-01-20T06:28:13Z
                  updatedAt: 2018-01-20T06:28:14Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Good product R1RR2R3R4R5
                    plan_code: PLN_mm752s00e60hhk7
                    description: ''
                    amount: 5000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8173
                    integration: 132621
                    createdAt: 2018-01-18T12:10:28Z
                    updatedAt: 2018-01-18T12:10:28Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516429692
                  status: active
                  quantity: 1
                  amount: 5000000
                  subscription_code: SUB_5es1mw1kxm46gtd
                  email_token: sbfm13oydbkm52f
                  easy_cron_id: 493145
                  cron_expression: 0 0 19 * *
                  next_payment_date: 2018-02-19T06:28:08Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 35999
                  createdAt: 2018-01-20T06:28:12Z
                  updatedAt: 2018-01-20T06:28:12Z
                - customer:
                    first_name: employee12
                    last_name: emo
                    email: employee12@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_5z5i6sw36jx2wlu
                    risk_action: default
                    id: 1395757
                    integration: 132621
                    createdAt: 2018-01-14T13:44:56Z
                    updatedAt: 2018-01-14T13:44:56Z
                  plan:
                    domain: test
                    name: Good product R1RR2R3R4R5
                    plan_code: PLN_mm752s00e60hhk7
                    description: ''
                    amount: 5000000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8173
                    integration: 132621
                    createdAt: 2018-01-18T12:10:28Z
                    updatedAt: 2018-01-18T12:10:28Z
                  integration: 132621
                  authorization: 3625717
                  domain: test
                  start: 1516429692
                  status: active
                  quantity: 1
                  amount: 5000000
                  subscription_code: SUB_7xxt5qcrra1hfqu
                  email_token: tos1qk2qcm3m9xk
                  easy_cron_id: 493146
                  cron_expression: 0 0 19 * *
                  next_payment_date: 2018-02-19T06:28:08Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 36000
                  createdAt: 2018-01-20T06:28:12Z
                  updatedAt: 2018-01-20T06:28:13Z
                - customer:
                    first_name: employee12
                    last_name: emo
                    email: employee12@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_5z5i6sw36jx2wlu
                    risk_action: default
                    id: 1395757
                    integration: 132621
                    createdAt: 2018-01-14T13:44:56Z
                    updatedAt: 2018-01-14T13:44:56Z
                  plan:
                    domain: test
                    name: Private Thrift MYF8H2O63
                    plan_code: PLN_bxknjmadmsr87of
                    description: 
                    amount: 1200000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8197
                    integration: 132621
                    createdAt: 2018-01-20T06:18:44Z
                    updatedAt: 2018-01-20T06:18:44Z
                  integration: 132621
                  authorization: 3625717
                  domain: test
                  start: 1516429175
                  status: active
                  quantity: 1
                  amount: 1200000
                  subscription_code: SUB_82t90s0th5uypnr
                  email_token: tnvwf8cht0rk7jv
                  easy_cron_id: 493144
                  cron_expression: 0 0 19 * *
                  next_payment_date: 2018-02-19T06:18:42Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 35998
                  createdAt: 2018-01-20T06:19:35Z
                  updatedAt: 2018-01-20T06:19:36Z
                - customer:
                    first_name: employee11
                    last_name: demo
                    email: employee11@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_fs968067v1doow0
                    risk_action: default
                    id: 1395756
                    integration: 132621
                    createdAt: 2018-01-14T13:44:52Z
                    updatedAt: 2018-01-14T13:44:52Z
                  plan:
                    domain: test
                    name: Private Thrift MYF8H2O63
                    plan_code: PLN_bxknjmadmsr87of
                    description: 
                    amount: 1200000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8197
                    integration: 132621
                    createdAt: 2018-01-20T06:18:44Z
                    updatedAt: 2018-01-20T06:18:44Z
                  integration: 132621
                  authorization: 3620114
                  domain: test
                  start: 1516429174
                  status: active
                  quantity: 1
                  amount: 1200000
                  subscription_code: SUB_3yzhgywmdjba0dz
                  email_token: 8olq6gbnnufqxre
                  easy_cron_id: 493143
                  cron_expression: 0 0 19 * *
                  next_payment_date: 2018-02-19T06:18:42Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 35997
                  createdAt: 2018-01-20T06:19:34Z
                  updatedAt: 2018-01-20T06:19:35Z
                - customer:
                    first_name: employee12
                    last_name: emo
                    email: employee12@demo.com
                    phone: 
                    metadata: 
                    domain: test
                    customer_code: CUS_5z5i6sw36jx2wlu
                    risk_action: default
                    id: 1395757
                    integration: 132621
                    createdAt: 2018-01-14T13:44:56Z
                    updatedAt: 2018-01-14T13:44:56Z
                  plan:
                    domain: test
                    name: ZAQ Prosper RS8GUZ
                    plan_code: PLN_n5u9lsl3ldtjpla
                    description: 
                    amount: 44200000
                    interval: monthly
                    invoice_limit: 0
                    send_invoices: true
                    send_sms: true
                    hosted_page: false
                    hosted_page_url: 
                    hosted_page_summary: 
                    currency: XOF
                    migrate: false
                    id: 8131
                    integration: 132621
                    createdAt: 2018-01-15T10:21:32Z
                    updatedAt: 2018-01-15T10:21:32Z
                  integration: 132621
                  authorization: 3625717
                  domain: test
                  start: 1516428131
                  status: active
                  quantity: 1
                  amount: 44200000
                  subscription_code: SUB_tvpgx6ee7c0h5q2
                  email_token: rat7afimr2r2bop
                  easy_cron_id: 493141
                  cron_expression: 0 0 19 * *
                  next_payment_date: 2018-02-19T06:01:29Z
                  open_invoice: 
                  invoice_limit: 0
                  id: 35996
                  createdAt: 2018-01-20T06:02:11Z
                  updatedAt: 2018-01-20T06:02:12Z
                meta:
                  total: 29
                  skipped: 0
                  perPage: 50
                  page: 1
                  pageCount: 1
      deprecated: false
  /subscription/{id_or_subscription_code}:
    get:
      tags:
      - Subscriptions
      summary: Fetch Subscription
      operationId: FetchSubscription
      parameters:
      - name: id_or_subscription_code
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /subscription/disable:
    post:
      tags:
      - Subscriptions
      summary: Disable Subscription
      description: >-
        **Body Params**

        - **code** (_required_) - Subscription code

        - **token** (_required_) - Email token
      operationId: DisableSubscription
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - code
              - token
              type: object
              properties:
                code:
                  type: string
                  example: SUB_vsyqdmlzble3uii
                token:
                  type: string
                  example: d7gofp6yppn3qz7
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /subscription/enable:
    post:
      tags:
      - Subscriptions
      summary: Enable Subscription
      description: >-
        **Body Params**

        - **code** (_required_) - Subscription code

        - **token** (_required_) - Email token
      operationId: EnableSubscription
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - code
              - token
              type: object
              properties:
                code:
                  type: string
                  example: SUB_vsyqdmlzble3uii
                token:
                  type: string
                  example: d7gofp6yppn3qz7
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /page:
    post:
      tags:
      - Payment Pages
      summary: Create Page
      description: >-
        **Body Params**

        - **name** (_required_) - Name of page

        - **description** - Short description of page

        - **amount** - Default amount you want to accept using this page. If none is set, customer is free to provide any amount of their choice. The latter scenario is useful for accepting donations

        - **slug** - URL slug you would like to be associated with this page. Page will be accessible at https://duniapay.net/pay/[slug]

        - **redirect_url** - If you would like DuniaPay to redirect someplace upon successful payment, specify the URL here.

        - **send_invoices** - Set to false if you don't want invoices to be sent to your customers

        - **custom_fields** - If you would like to accept custom fields, specify them here. See sample code for details.


        Send pages created to your customers by giving out a link in this format https://duniapay.net/pay/:slug. For instance, a valid link for the page above would be https://duniapay.net/pay/5nApBwZkvY
      operationId: CreatePage
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - name
              - description
              - amount
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                amount:
                  type: integer
                  format: int32
                  example: 500000
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - Payment Pages
      summary: List Pages
      description: >-
        **Query Params**

        - **perPage** - Specify how many records you want to retrieve per page

        - **page** - Specify exactly what page you want to retrieve

        - **interval** - Filter list by plans with specified interval

        - **amount** - Filter list by plans with specified amount (in kobo)
      operationId: ListPages
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: https://api.duniapay.net/plan
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      security: []
  /page/id_or_plan_code:
    get:
      tags:
      - Payment Pages
      summary: Fetch Page
      operationId: FetchPage
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /page/{id_or_plan_code}:
    put:
      tags:
      - Payment Pages
      summary: Update Page
      description: >-
        **Body Params**

        - **name** - Name of page

        - **description** - Short description of page

        - **amount** - Amount to be charged in kobo. Will override the amount for existing subscriptions.

        - **active** - Set to false to deactivate page url.
      operationId: UpdatePage
      parameters:
      - name: id_or_plan_code
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - description
              type: object
              properties:
                description:
                  type: string
                  example: Give unto the Lord, and it shall be multiplied 10-fold to you.
        required: false
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /page/check_slug_availability/slug:
    get:
      tags:
      - Payment Pages
      summary: Check Slug Availability
      description: >-
        **Path Params**

        - **slug** (_required_) - URL slug to be confirmed
      operationId: CheckSlugAvailability
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
  /paymentrequest:
    post:
      tags:
      - Invoices
      summary: Create Invoice
      description: >-
        **Body Params**

        - **customer** (_required_) - Customer ID or code

        - **due_date** (_required_) - ISO 8601 representation of request due date

        - **amount** (_required_) - Invoice amount. Only useful if line items and tax values are ignored. endpoint will throw a friendly warning if neither is available.

        - **description**

[...]
